@model BookShop.WEB.DataBase.Entities.OurStores

<div class="page-heading contact-heading header-text">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="text-content">
                    <h4>Редактирование таблицы</h4>
                    <h2>Наши магазины</h2>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="edditForm">
        <form asp-controller="OurStores" asp-action="AEOurStores" method="post">
            <input asp-for="AdressStore" type="text" placeholder="Введите  адрес магазина (Пример:  г. Минск, ул. Мокрая 13" />
            <span style="color:red" asp-validation-for="AdressStore"></span>

            <button type="submit" id="form-submit" class="filled-button">Принять</button>
        </form>
    </div>
</div>