@model ForgotPasswordViewModel

<div class="page-heading contact-heading header-text">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="text-content">
                    <h4>Забыли свой пароль?</h4>
                    <h2>Вы можете восстановить его!</h2>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- login form -->
<div class="container">
    <div class="LoginForm">
        <form asp-area="" asp-controller="Account" asp-action="ForgotPassword" method="post">
            <input asp-for="Email" type="text" placeholder="Ваш Email" />
            <span style="color:red" asp-validation-for="Email"></span>
           
            <button type="submit" id="form-submit" class="filled-button">Отправить письмо для восстановления</button>
        </form>
    </div>
</div>
<!--login form -->