
<div class="page-heading contact-heading header-text">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="text-content">
                    <h4>ОЙ</h4>
                    <h2>Что-то пошло не так...</h2>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- login form -->
<div class="container">
    <div class="ResetPass">
      <h1>Пользователь не найден, проверте введённые данные</h1>
    </div>
</div>
<!--login form -->