
<div class="page-heading contact-heading header-text">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="text-content">
                    <h4>Успех</h4>
                    <h2>Всё пошло по плану</h2>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- login form -->
<div class="container">
    <div class="ResetPass">
        <h1>Проверьте Вашу почту. Вам было отправленно письмо для сброса пароля. (Если письма нет, то проверьте папку спам)</h1>
    </div>
</div>
<!--login form -->