   <!-- login form -->

<div class="container">
    <div class="LoginForm">
        <form>
            <input type="text" placeholder="E-Mail" />
            <input type="password" placeholder="Пароль" />
            <button type="submit" id="form-submit" class="filled-button">Вход</button>
        </form>
        <p>Нет ещё аккаунта? <a href="#">Так создайте его!</a></p>
        <br>
        <p>Забыли пароль? <a href="#">Восстановить его можно тут</a></p>
    </div>
</div>
<!--login form -->