@model RegistrationViewModel


<div class="page-heading contact-heading header-text">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="text-content">
                    <h4>Регистрация</h4>
                    <h2>Создайте свой аккаунт</h2>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- registration form -->

<div class="container">
    <div class="RegForm">
        <form asp-controller="Account" asp-action="Registration" method="post">
            <input asp-for="Name" type="text" placeholder="Логин" />
            <span style="color:red" asp-validation-for="Name"></span>
            <input asp-for="Email" type="text" placeholder="E-Mail" />
            <span style="color:red" asp-validation-for="Email"></span>
            <input asp-for="Password" type="password" placeholder="Пароль" />
            <span style="color:red" asp-validation-for="Password"></span>
            <p>В пароле должно быть:<br>1)Хотя бы одна цифра<br>2)Хотя бы одина прописная буква<br>3)Хотя бы одна заглавная буква<br>4)Минимальная длина пароля 8 символов</p>
            <button type="submit" id="form-submit" class="filled-button">Зарегистрироваться</button>
        </form>
        <p>Уже есть аккаунт? <a asp-area="" asp-controller="Account" asp-action="Login">Войти</a></p>
    </div>
</div>
<!--registration form -->