<!-- registration form -->

<div class="container">
    <div class="RegForm">
        <form>
            <input type="text" placeholder="Ваше Имя" />
            <input type="text" placeholder="E-Mail" />
            <input type="password" placeholder="Пароль" />
            <button type="submit" id="form-submit" class="filled-button">Зарегистрироваться</button>
        </form>
        <p>Уже есть аккаунт? <a href="#">Войти</a></p>
    </div>
</div>
<!--registration form -->