@model RegistrationViewModel
<!-- Header -->
<header class="">
    <nav class="navbar navbar-expand-lg">
        <div class="container">
            <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"><h2>BOOK <em>SHOP</em></h2></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">
                            Главная
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Products">Каталог</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Contacts">Контакты</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-controller="Account" asp-action="Login">Вход</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>


<div class="page-heading contact-heading header-text">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="text-content">
                    <h4>Регистрация</h4>
                    <h2>Создайте свой аккаунт</h2>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- registration form -->

<div class="container">
    <div class="RegForm">
        <form asp-controller="Account" asp-action="Registration" method="post">
            <input asp-for="Name" type="text" placeholder="Логин" />
            <span style="color:red" asp-validation-for="Name"></span>
            <input asp-for="Email" type="text" placeholder="E-Mail" />
            <span style="color:red" asp-validation-for="Email"></span>
            <input asp-for="Password" type="password" placeholder="Пароль" />
            <span style="color:red" asp-validation-for="Password"></span>
            <p>В пароле должно быть:<br>1)Хотя бы одна цифра<br>2)Хотя бы одина прописная буква<br>3)Хотя бы одна заглавная буква<br>4)Минимальная длина пароля 8 символов</p>
            <button type="submit" id="form-submit" class="filled-button">Зарегистрироваться</button>
        </form>
        <p>Уже есть аккаунт? <a asp-area="" asp-controller="Account" asp-action="Login">Войти</a></p>
    </div>
</div>
<!--registration form -->