
<div class="page-heading contact-heading header-text">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="text-content">
                    <h4>Успех</h4>
                    <h2>Всё пошло по плану</h2>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- login form -->
<div class="container">
    <div class="ResetPass">
        <h1>Пароль был сброшен. Для входа перейдите по <a asp-area="" asp-controller="Account" asp-action="Login">ссылке</a>.</h1>
    </div>
</div>
<!--login form -->