@model ResetPasswordViewModel

<div class="page-heading contact-heading header-text">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="text-content">
                    <h4>Забыли свой пароль?</h4>
                    <h2>Вы можете восстановить его!</h2>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- login form -->
<div class="container">
    <div class="LoginForm">
        <form asp-area="" asp-controller="Account" asp-action="ResetPassword" method="post">
            <input asp-for="Code" type="hidden"/>
            <input asp-for="Email" type="text" placeholder="Ваш Email" />
            <span style="color:red" asp-validation-for="Email"></span>

            <input asp-for="Password" type="text" placeholder="Ваш новый пароль" />
            <span style="color:red" asp-validation-for="Password"></span>
            <p>В пароле должно быть:<br>1)Хотя бы одна цифра<br>2)Хотя бы одна заглавная буква<br>3)Минимальная длина пароля 8 символов</p>

            <input asp-for="ConfirmPassword" type="text" placeholder="Повторите пароль" />
            <span style="color:red" asp-validation-for="ConfirmPassword"></span>


            <button type="submit" id="form-submit" class="filled-button">Изменить пароль</button>
        </form>
    </div>
</div>
<!--login form -->