@model BookShop.WEB.DataBase.Entities.Format

<div class="page-heading contact-heading header-text">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="text-content">
                    <h4>Редактирование таблицы</h4>
                    <h2>Формат книги</h2>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="edditForm">
        <form asp-controller="Formats" asp-action="AEFormat" method="post">
            <input asp-for="NameFormat" type="text" placeholder="Введите  формат (Пример:  сверхультрамалый - (30*60/15))" />
            <span style="color:red" asp-validation-for="NameFormat"></span>

            <button type="submit" id="form-submit" class="filled-button">Принять</button>
        </form>
    </div>
</div>