@model BookShop.WEB.DataBase.Entities.Ganres

<div class="page-heading contact-heading header-text">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="text-content">
                    <h4>Редактирование таблицы</h4>
                    <h2>Жанры</h2>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="edditForm">
        <form asp-controller="Ganres" asp-action="AEGanres" method="post">
            <input asp-for="NameGanre" type="text" placeholder="Введите жанр" />
            <span style="color:red" asp-validation-for="NameGanre"></span>
            <button type="submit" id="form-submit" class="filled-button">Принять</button>
        </form>
    </div>
</div>