<div class="page-heading contact-heading header-text">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="text-content">
                    <h4>Заказ</h4>
                    <h2>Оформлен</h2>
                </div>
            </div>
        </div>
    </div>
</div>

<!--  -->

<div class="container">
    <div class="orderProgressed">
        <h1>ВАШ ЗАКАЗ В ОБРАБОТКЕ</h1>
        <p>В ближайшее время с вами свяжется наш сотрудник</p>
        <a asp-area="" asp-controller="Home" asp-action="Index" class="filled-button">Главная страница</a>
    </div>
</div>
<!-- -->