@model BookShop.WEB.Models.TheAuthorsViewModel

<div class="page-heading contact-heading header-text">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="text-content">
                    <h4>Таблица</h4>
                    <h2>Авторы</h2>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="products">
    <div class="container">
        <div class="AddNewItem">
            <a asp-area="admin" asp-controller="Authors" asp-action="AEAuthors">Добавить нового автора</a>
        </div>
        <div class="serchDiv">
            <form>
                <input name="serch" class="serchInput" type="text" placeholder="Поиск" />
            </form>
        </div>
        <table class="table">
            <thead>
                <tr>
                    <td><b>ID:</b></td>
                    <td><b>Наименование:</b></td>
                    <td><b>Управление</b></td>
                </tr>
            </thead>
            <tbody>
                @if (Model.TheAuthors.Count() > 0)
                {
                    @foreach (var item in Model.TheAuthors)
                    {
                        <tr class="tableDev">
                            <td>@item.Id</td>
                            <td>@item.FullName</td>
                            <td>
                                <a asp-area="admin" asp-controller="Authors" asp-action="AEAuthors" asp-route-id="@item.Id">Изменить</a>
                                <a asp-area="admin" asp-controller="Authors" asp-action="Delete" asp-route-id="@item.Id">Удалить</a>
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>
