 <!-- Page Content -->
<!-- Banner Starts Here -->
<div class="banner header-text">
    <div class="owl-banner owl-carousel">
        <div class="banner-item-01">
            <div class="text-content">
                <h4>Лучшее предложение</h4>
                <h2>Только у нас книги по выгодным ценам!</h2>
            </div>
        </div>
        <div class="banner-item-02">
            <div class="text-content">
                <h4>Многообразие жанров</h4>
                <h2>У нас найдётся книга на любой вкус</h2>
            </div>
        </div>
        <div class="banner-item-03">
            <div class="text-content">
                <h4>Книжный клуб</h4>
                <h2>Вступайте в Наш книжный клуб и получайте бонусы</h2>
            </div>
        </div>
    </div>
</div>
<!-- Banner Ends Here -->
<!--  area new book in catalog -->
<div class="latest-products">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-heading">
                    <h2>Новые книги</h2>
                    <a href="products.html">Посмотреть весь каталог <i class="fa fa-angle-right"></i></a>
                </div>
            </div>
            <!--  -->
            <div class="col-md-4">
                <div class="product-item">
                    <a href="#"><img src="assets/images/Обложка_книги__Наваждения_,_Макс_Фрай.jpg" alt=""></a>
                    <div class="down-content">
                        <a href="#"><h4>Название книни</h4></a>
                        <h6>23 руб</h6>
                        <p>Краткое описание о чём книга</p>

                        <span><a href="">В корзину</a></span>
                    </div>
                </div>
            </div>
            <!--  -->
            <div class="col-md-4">
                <div class="product-item">
                    <a href="#"><img src="assets/images/Обложка_книги__Наваждения_,_Макс_Фрай.jpg" alt=""></a>
                    <div class="down-content">
                        <a href="#"><h4>Название книни</h4></a>
                        <h6>23 руб</h6>
                        <p>Краткое описание о чём книга</p>
                        <span><a href="">В корзину</a></span>
                    </div>
                </div>
            </div>
            <!--  -->
            <div class="col-md-4">
                <div class="product-item">
                    <a href="#"><img src="assets/images/Обложка_книги__Наваждения_,_Макс_Фрай.jpg" alt=""></a>
                    <div class="down-content">
                        <a href="#"><h4>Название книни</h4></a>
                        <h6>23 руб</h6>
                        <p>Краткое описание о чём книга</p>
                        <span><a href="">В корзину</a></span>
                    </div>
                </div>
            </div>
            <!--  -->
            <div class="col-md-4">
                <div class="product-item">
                    <a href="#"><img src="assets/images/Обложка_книги__Наваждения_,_Макс_Фрай.jpg" alt=""></a>
                    <div class="down-content">
                        <a href="#"><h4>Название книни</h4></a>
                        <h6>23 руб</h6>
                        <p>Краткое описание о чём книга</p>
                        <span><a href="">В корзину</a></span>
                    </div>
                </div>
            </div>
            <!--  -->
            <div class="col-md-4">
                <div class="product-item">
                    <a href="#"><img src="assets/images/Обложка_книги__Наваждения_,_Макс_Фрай.jpg" alt=""></a>
                    <div class="down-content">
                        <a href="#"><h4>Название книни</h4></a>
                        <h6>23 руб</h6>
                        <p>Краткое описание о чём книга</p>
                        <span><a href="">В корзину</a></span>
                    </div>
                </div>
            </div>
            <!--  -->
            <div class="col-md-4">
                <div class="product-item">
                    <a href="#"><img src="assets/images/Обложка_книги__Наваждения_,_Макс_Фрай.jpg" alt=""></a>
                    <div class="down-content">
                        <a href="#"><h4>Название книни</h4></a>
                        <h6>23 руб</h6>
                        <p>Краткое описание о чём книга</p>
                        <span><a href="">В корзину</a></span>
                    </div>
                </div>
            </div>
            <!--  -->
        </div>
    </div>
</div>
<!-- end area new book in catalog -->
<!--  area new book in catalog -->
<div class="latest-products">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-heading">
                    <h2>Популярные книги</h2>
                    <a href="products.html">Посмотреть весь каталог <i class="fa fa-angle-right"></i></a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="product-item">
                    <a href="#"><img src="assets/images/Обложка_книги__Наваждения_,_Макс_Фрай.jpg" alt=""></a>
                    <div class="down-content">
                        <a href="#"><h4>Название книни</h4></a>
                        <h6>23 руб</h6>
                        <p>Краткое описание о чём книга</p>

                        <span><a href="">В корзину</a></span>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="product-item">
                    <a href="#"><img src="assets/images/Обложка_книги__Наваждения_,_Макс_Фрай.jpg" alt=""></a>
                    <div class="down-content">
                        <a href="#"><h4>Название книни</h4></a>
                        <h6>23 руб</h6>
                        <p>Краткое описание о чём книга</p>
                        <span><a href="">В корзину</a></span>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="product-item">
                    <a href="#"><img src="assets/images/Обложка_книги__Наваждения_,_Макс_Фрай.jpg" alt=""></a>
                    <div class="down-content">
                        <a href="#"><h4>Название книни</h4></a>
                        <h6>23 руб</h6>
                        <p>Краткое описание о чём книга</p>
                        <span><a href="">В корзину</a></span>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="product-item">
                    <a href="#"><img src="assets/images/Обложка_книги__Наваждения_,_Макс_Фрай.jpg" alt=""></a>
                    <div class="down-content">
                        <a href="#"><h4>Название книни</h4></a>
                        <h6>23 руб</h6>
                        <p>Краткое описание о чём книга</p>

                        <span><a href="">В корзину</a></span>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="product-item">
                    <a href="#"><img src="assets/images/Обложка_книги__Наваждения_,_Макс_Фрай.jpg" alt=""></a>
                    <div class="down-content">
                        <a href="#"><h4>Название книни</h4></a>
                        <h6>23 руб</h6>
                        <p>Краткое описание о чём книга</p>

                        <span><a href="">В корзину</a></span>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="product-item">
                    <a href="#"><img src="assets/images/Обложка_книги__Наваждения_,_Макс_Фрай.jpg" alt=""></a>
                    <div class="down-content">
                        <a href="#"><h4>Название книни</h4></a>
                        <h6>23 руб</h6>
                        <p>Краткое описание о чём книга</p>

                        <span><a href="">В корзину</a></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end area new book in catalog -->
