<!-- Page Content -->
<div class="page-heading products-heading header-text">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="text-content">
                    <h4>Каталог</h4>
                    <h2>Есть из чего выбрать!</h2>
                </div>
            </div>
        </div>
    </div>
</div>
<!--end Page Content -->
<!-- products -->
<div class="products">
    <div class="container">
        <!--sort&serch area-->
        <div class="serchDiv">
            <form>
                <input class="serchInput" type="text" placeholder="Поиск" />
            </form>
        </div>

        <div class="sortDiv">
            <form>
                <select>
                    <option disabled="true">Выберите Автора</option>
                </select>
                <select>
                    <option disabled="true">Выберите жанр</option>
                </select>
                <select>
                    <option disabled="true">Выберите Издателя</option>
                </select>
                <button type="submit" id="form-submit" class="filled-button">Фильтровать</button>
            </form>
        </div>
        <!--end sort&serch area-->
        <div class="row">
            <div class="col-md-12">
                <div class="filters-content">
                    <div class="row grid">
                        <!--  -->
                        <div class="col-lg-4 col-md-4 all des">
                            <div class="product-item">
                                <a href="#"><img src="assets/images/Обложка_книги__Наваждения_,_Макс_Фрай.jpg" alt=""></a>
                                <div class="down-content">
                                    <a href="#"><h4>Название книни</h4></a>
                                    <h6>23 руб</h6>
                                    <p>Краткое описание о чём книга</p>
                                    <span><a href="">В корзину</a></span>
                                </div>
                            </div>
                        </div>
                        <!--  -->
                        <div class="col-lg-4 col-md-4 all des">
                            <div class="product-item">
                                <a href="#"><img src="assets/images/Обложка_книги__Наваждения_,_Макс_Фрай.jpg" alt=""></a>
                                <div class="down-content">
                                    <a href="#"><h4>Название книни</h4></a>
                                    <h6>23 руб</h6>
                                    <p>Краткое описание о чём книга</p>
                                    <span><a href="">В корзину</a></span>
                                </div>
                            </div>
                        </div>
                        <!--  -->
                        <div class="col-lg-4 col-md-4 all des">
                            <div class="product-item">
                                <a href="#"><img src="assets/images/Обложка_книги__Наваждения_,_Макс_Фрай.jpg" alt=""></a>
                                <div class="down-content">
                                    <a href="#"><h4>Название книни</h4></a>
                                    <h6>23 руб</h6>
                                    <p>Краткое описание о чём книга</p>
                                    <span><a href="">В корзину</a></span>
                                </div>
                            </div>
                        </div>
                        <!--  -->
                        <div class="col-lg-4 col-md-4 all des">
                            <div class="product-item">
                                <a href="#"><img src="assets/images/Обложка_книги__Наваждения_,_Макс_Фрай.jpg" alt=""></a>
                                <div class="down-content">
                                    <a href="#"><h4>Название книни</h4></a>
                                    <h6>23 руб</h6>
                                    <p>Краткое описание о чём книга</p>
                                    <span><a href="">В корзину</a></span>
                                </div>
                            </div>
                        </div>
                        <!--  -->
                        <div class="col-lg-4 col-md-4 all des">
                            <div class="product-item">
                                <a href="#"><img src="assets/images/Обложка_книги__Наваждения_,_Макс_Фрай.jpg" alt=""></a>
                                <div class="down-content">
                                    <a href="#"><h4>Название книни</h4></a>
                                    <h6>23 руб</h6>
                                    <p>Краткое описание о чём книга</p>
                                    <span><a href="">В корзину</a></span>
                                </div>
                            </div>
                        </div>
                        <!--  -->
                        <div class="col-lg-4 col-md-4 all des">
                            <div class="product-item">
                                <a href="#"><img src="assets/images/Обложка_книги__Наваждения_,_Макс_Фрай.jpg" alt=""></a>
                                <div class="down-content">
                                    <a href="#"><h4>Название книни</h4></a>
                                    <h6>23 руб</h6>
                                    <p>Краткое описание о чём книга</p>
                                    <span><a href="">В корзину</a></span>
                                </div>
                            </div>
                        </div>
                        <!--  -->
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<!--end products -->